// Body
$body-bg: #f6f7fa;
// $body-bg: #f5f6f8;
// $body-bg: #fbfbfb;
// $body-bg: #f8f9fc;
$body-color: #58595b;

// Color theme
$primary: #007bff;
// $secondary: #6c757d;
$secondary: #b9c0c7;
// $success: #28a745;
$success: #00c060;
// $info: #17a2b8;
$info: #00bfbf;
// $warning: #dc3545;
$warning: #ff6d6d;
$danger: #ffc107;
$light: #f8f9fa;
$dark: #343a40;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
